<h1 class="text-center p-4" >Listing all articles</h1>
<div class='d-flex justify-content-center'>

    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)%>
</div>
<%= render 'article', obj: @articles %>

<div class='d-flex justify-content-center'>
 <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)%>
</div>
